@{
    ViewData["Title"] = "Do not have permission!";
}
<html>
<head>
</head>
<body class="ERR404">
    <div class="container ERR404">
        <div class="row">
            <div class="col-12">
                <div class="col-6 mt-5  offset-3">
                    <div class=" pt-5">
                        <h2 class="text-center text-danger">403 Error </h2>
                        <h4 class="text-center text-info">

                            Sorry, You do not have permission to this page!
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
