<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex, nofollow" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap4/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
   @RenderBody()


    <script src="~/css/script.js"></script>
    <script src="~/assets/bootstrap4/js/popper.min.js"></script>
    <script src="~/assets/bootstrap4/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/assets/bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/assets/bootstrap4/js/all.min.js"></script>
</body>
</html>
