@{
    ViewData["Title"] = "Something wrong";
}
<html>
<head>
</head>
<body class="ERR404">
    <div class="container Error">
        <div class="row">
            <div class="col-12">
                <div class="col-6 mt-5  offset-3">
                    <div class=" pt-5">
                        <h2 class="text-center text-danger">Oops </h2>
                        <h4 class="text-center text-info">

                            NOw, The system can not answer!
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
