@model ProductViewModel
@{
    ViewData["Title"] = "AddProduct";
}


<div class="mt-5"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-plus "> Product </i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-8  offset-2 card-box">
                            <form asp-controller="Product" asp-action="AddProduct" method="post" class="mt-5" enctype="multipart/form-data">   
                                <div class="ml-3 mb-3 mr-3 ">
                                    <label> Prodcut Name</label>
                                    <input asp-for="ProductName" type="text" placeholder="Product Name " class="form-control" autocomplete="off">
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                               </div>
                               <div class="ml-3 mb-3 mr-3">
                                     <label asp-for="CategoryId" class="control-label"> Product Category</label>
                                     <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId" >
                                     <option selected>Select a Category</option>
                                    </select>
                                   <span asp-validation-for="CategoryId" class="text-danger"></span>
                               </div>


                                 <div class="ml-3 mb-3 mr-3">
                                      <label>Picture</label>
                                     <input name="file" type="file" class="form-control">
                                     <span asp-validation-for="ProductImage" class="text-danger"></span>
                                 </div>
                                 
                                  <div class="ml-3 mb-3 mr-3">
                                       <label>Alt</label>
                                       <input asp-for="Alt" type="text" placeholder="Alt" class="form-control" autocomplete="off">
                                      <span asp-validation-for="Alt" class="text-danger"></span>
                                 </div>

                                 
                                  <div class="ml-3 mb-3 mr-3">
                                       <label>Title</label>
                                       <input asp-for="Title" type="text" placeholder="Title" class="form-control" autocomplete="off">
                                      <span asp-validation-for="Title" class="text-danger"></span>
                                 </div>

                                  <div class="ml-3 mb-3 mr-3">
                                       <label>Count</label>
                                       <input asp-for="count" type="text" placeholder="Count" class="form-control" autocomplete="off">
                                      <span asp-validation-for="count" class="text-danger"></span>
                                 </div>


                                 <div class="ml-3 mb-3 mr-3">
                                    <div class="checkbox">
                                       <input asp-for="IsActive" class="check-box" id="remember-1" type="checkbox" class="mr-4">
                                       <label asp-for="IsActive" for="remember-1"> Keep Active </label>
                                    </div>
                                 </div>


                              <div class="ml-3 mb-3 mr-3">
                                   <label> Short Descriptioin</label>
                                   <textarea asp-for="ShortDescription" placeholder="Short Description " class="form-control"></textarea>
                                   <span asp-validation-for="ShortDescription" class="text-danger"></span>
                              </div>

               
                               <div class="form-group text-right m-b-0 d-flex justify-content-center">
                                  <div class="mr-3 mb-3">
                                      <button class="btn btn-success btn-colorsave " type="submit">
                                         Save  <i class="fa fa-plus"></i>
                                      </button>
                                  </div>&nbsp;
                                   <div class="ml-3 mb-3">
                                        <a asp-action="ShowProduct" class="btn btn-back btn-primary">
                                         Cancel
                                        </a>
                                   </div>
                                </div>
                            </form>
                      </div>
                </div>

        </div>
    </div>
  </div>
</div>
<script src="~/panel/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace("ShortDescription");
</script>



