@font-face {
    font-family: UTMAvo;
    src: url('assets/fonts/UTMAvo.eot'), format('eot'), url('assets/fonts/UTMAvo.woff'), format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #E7F9F3;
    --secondary-color: #000;
    --fullBack-color: #fff;
    --socialMedia-color: #fff;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
    --fullBack-color: #2b2b2b;
    --socialMedia-color: #000;
}

body {
    background-color: var(--fullBack-color);
    color: var(--secondary-color);
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: var(--secondary-color); */
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#icon {
    width: 30px;
    cursor: pointer;
}

.bg-top-nav {
    background-color: var(--primary-color);
    width: 100%;
}

.brand-img {
    width: 70px;
}

.custome-top-nav {
    font-size: 15px;
}

    .custome-top-nav ul li a {
        color: var(--secondary-color);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .custome-top-nav ul li {
        margin-left: 10px;
    }

        .custome-top-nav ul li a:hover {
            color: rgb(1, 209, 245);
            text-decoration: underline;
        }

.message-icon {
    font-size: 18px;
}

a.home {
    color: rgb(1, 209, 245) !important;
    text-decoration: underline !important;
}

.custome-icon-list {
    color: rgb(66, 64, 64);
}

.custome-login a {
    color: var(--secondary-color);
    font-size: 13px;
}

    .custome-login a:hover {
        color: rgb(1, 209, 245);
    }

.sign-up {
    border-right: 2px solid black;
}

.top-car {
    padding-top: 100px;
}

.custome-carousel {
    height: 500px;
}

.car-img {
    width: 100%;
    height: 450px;
}

.product-back {
    background-color: var(--primary-color);
    box-shadow: 7px 7px 5px #aaa;
}
    .product-back:hover {
        transform: scale(0.9);
        overflow: hidden;
    }


.custome-product {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.product-img {
    width: 100%;
    height: 200px;
    position: relative;
    cursor: pointer;
    transition: all 1.1s;
    overflow: hidden;
    transform: scale(0.9);
    border-radius: 10px;
}

    .product-img:hover {
        overflow: hidden;
        opacity: 0.5;
        transform: scale(1);
    }

.see-product {
    width: 200px;
    text-decoration: none;
    border: 2px solid #46CBF5;
    color: #46CBF5;
    font-size: 26px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 30px;
    transition: all 0.5s;
}

    .see-product:hover {
        background-color: #46CBF5;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

.underline-explore {
    border-bottom: 2px solid #00bef8;
}

.recent-product {
    font-weight: 100;
    cursor: pointer;
}

.custome-recent-product {
    height: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.Pro-description {
    padding-top: 150px;
    cursor: pointer;
}

    .Pro-description p {
        font-size: small;
    }

    .Pro-description a {
        color: white;
        padding: 15px;
        font-weight: bold;
        background-color: #46CBF5;
        text-decoration: none;
        border: 2px solid white;
        transition: all 0.5s;
    }

        .Pro-description a:hover {
            background-color: white;
            color: #46CBF5;
        }

.img-rec-pro {
    width: 350px;
    height: 500px;
}

.img-service {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: all 1.1s;
}

    .img-service:hover {
        transform: scale(0.9);
        overflow: hidden;
        opacity: 0.7;
    }

.custome-team {
    background-color: var(--primary-color);
    height: auto;
    padding-bottom: 100px;
}

.img-banner {
    width: 100%;
    height: 200px;
    background-attachment: fixed;
}

.team-main-div {
    background-color: var(--fullBack-color) !important;
    color: var(--secondary-color);
    border-radius: 5%;
}

    .team-main-div:hover {
        cursor: pointer;
    }

.team-img {
    width: 150px;
    height: 140px;
    border-radius: 5%;
}

.team-title {
    padding-left: 20px;
}

.team-m-top {
    margin-top: -10%;
}

.team-name-color {
    color: #46CBF5;
    font-weight: bold;
}
.team-name-color1 {
    color: #2aa780;
    
}
.see-team {
    color: #46CBF5;
    background-color: white;
    border: 2px solid #46CBF5;
    font-size: 24px;
    padding: 10px;
    transition: all 0.4s;
}

    .see-team:hover {
        color: white;
        background-color: #46CBF5;
        border: 2px solid white;
        text-decoration: none;
    }

.btn-custom {
    width: 200px;
    background-color: #46CBF5;
    color: white;
    border: 2px solid #46CBF5;
}

    .btn-custom:hover {
        background-color: white;
        color: #46CBF5;
    }

.form-home span {
    font-size: 14px;
    color: red;
}

.custome-footer {
    background-color: var(--primary-color);
    height: auto;
    color: var(--secondary-color);
}

.footer-update {
    border: none;
    padding: 5px;
}

.custome-update {
    color: #46CBF5;
    background-color: white;
    font-size: 14px;
    padding: 5px;
    height: 24px;
    margin-bottom: -3.6%;
    cursor: pointer;
}

    .custome-update:hover {
        background-color: #46CBF5;
        color: white;
    }

.social-link {
    font-size: 18px;
    background-color: #46CBF5;
    color: white;
    border-radius: 50%;
    padding: 8px;
    box-shadow:3px 3px 2px #aaa;
}

    .social-link:hover {
        background-color: white;
        color: #46CBF5;
        cursor: pointer;
    }

.footer-menu {
    color: #616161;
    font-size: 12px;
}

    .footer-menu:hover {
        color: var(--secondary-color);
        cursor: pointer;
    }

.update-append {
    height: 14px;
}

.to-top {
    background-color: #46CBF5;
    position: fixed;
    bottom: 26px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

    .to-top:hover {
        color: #044738;
    }

    .to-top.active {
        bottom: 50px;
        pointer-events: auto;
        opacity: 1;
    }

.shared-btn-container {
    background-color: var(--socialMedia-color);
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

    .shared-btn-container a i {
        font-size: 30px;
    }

    .shared-btn-container a {
        margin: 10px 0;
        transition: 500ms;
    }

        .shared-btn-container a:hover {
            transform: scale(1.2);
        }

    .shared-btn-container .Face-Book {
        color: #3b5998;
    }

    .shared-btn-container .linked-In {
        color: #0077b5;
    }

    .shared-btn-container .Whats-app {
        color: #25d366;
    }
/* media queri */
@media (max-width:550px) {
    .shared-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 6px rgba(0,0,0,0.3);
        padding: 16px 0;
        justify-content: center;
    }

        .shared-btn-container a {
            margin: 0 32px;
        }

    .img-rec-pro {
        height: 250px;
        width: 200px;
    }

    .form-contact-page {
        left: 0% !important;
    }

    .address-form {
        left: 0% !important;
    }

    .sign-up-illustrator {
        width: 200px !important;
    }

    .team-name-color {
        font-weight: bold;
    }

    .position {
        color: #000;
    }

    .desc {
        color: dimgrey;
    }

    .custome-footer-wss {
        width: 100% !important;
        display: block !important;
    }

    .upper-wave {
        margin-top: 6% !important;
    }

    .ourteam-title {
        margin-top: -71% !important;
    }

    .about-us-title {
        margin-top: -100% !important;
    }

    .about-responsive {
        margin-top: -40% !important;
    }
}
/* //////////////////////////////////////
        style code of page product
   /////////////////////////////////////////      */

.title-our-product {
    font-weight: bold;
}

/* ///////////////////////////////////////
         style codes of page product-detail
/////////////////////////////////////////*/
.product-custome {
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
}

.img-product-detail {
    width: 100%;
    height: 350px;
    box-shadow: 7px 7px 5px #aaa;
}
.img-product-detail:hover{
    opacity:0.8;
}

.product-title {
    color: var(--secondary-color);
    cursor: pointer;
}

.product-name {
    border-bottom: 2px solid #46CBF5;
    font-weight: bold;
}

.silimar-product {
    font-style: normal;
}

.product-want-btn {
    color: var(--fullBack-color);
    background-color: #00bef8;
    border: 2px solid #00bef8;
    padding: 12px;
    border-radius: 5%;
    margin-bottom: 5px !important;
    font-weight: bold;
    transition: all 1.1s;
    text-align: center;
}

    .product-want-btn:hover {
        color: #00bef8;
        background-color: var(--socialMedia-color);
        border: 2px solid #00bef8;
    }

.silimar-product-item {
    background-color: var(--socialMedia-color);
    position: relative;
    cursor: pointer;
    transition: all 1.1s;
    overflow: hidden;
    box-shadow:5px 5px 5px #aaa;

}

    .silimar-product-item:hover {
        transform: scale(0.9);
        overflow: hidden;
        
    }

.silimar-product-img {
    width: 100%;
    height: 250px;
}

.want-product {
    width: 200px;
    text-align: center;
    color: white;
    background-color: #00bef8;
    padding: 10px;
    border: 2px solid #00bef8;
    border-radius: 2px;
    font-weight: bold;
    transition: all 0.5s;
    text-decoration: none !important;
}

    .want-product:hover {
        color: #00bef8;
        background-color: white;
    }

/* ///////////////////////////////////////
         style codes of service page
/////////////////////////////////////////*/
.service-page-title {
    text-align: center;
    font-weight: bold;
}

.custome-service-title {
    font-weight: bold;
}

    .custome-service-title:hover {
        color: #00bef8;
        cursor: pointer;
    }

.service-icon {
    font-size: 26px;
    color: #00bef8;
    border-radius: 50%;
    padding: 20px;
    transition: all 0.2s;
    border-radius: 10px;
}

    .service-icon:hover {
        color: white;
        opacity: 9;
    }

.cardImg {
    border-radius: 10px !important;
    opacity: 5;
}

.service-card {
    background-color: var(--socialMedia-color);
    position: relative;
    cursor: pointer;
    transition: all 1.1s;
    overflow: hidden;
    box-shadow: 6px 6px 5px #aaaaaa;
    border-radius: 10px;
}

    .service-card:hover {
        transform: scale(0.9);
        overflow: hidden;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
    }

.service-detail-btn {
    color: white;
    background-color: #00bef8;
    border: 2px solid #00bef8;
    padding: 12px;
    border-radius: 5%;
    margin-bottom: 5px !important;
    font-weight: bold;
    transition: all 1.1s;
}

    .service-detail-btn:hover {
        color: #00bef8;
        background-color: white;
        border: 2px solid #00bef8;
    }
/* ///////////////////////////////////////
         style codes of service-detail page
/////////////////////////////////////////*/
.service-title {
    font-weight: bold;
    color: #00bef8;
}

.silimar-service {
    font-weight: bold;
}

.page-service-detail {
    background-color: var(--socialMedia-color);
}
/* ////////////////////////////////////
style code of page about us
////////////////////////////////////// */
.about-nav {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}

img.upper-wave {
    width: 100%;
}

.Team-custome-about {
    margin-top: -30%;
}

.about-us-title {
    margin-top: -25%;
    color: black;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    font-size: 36px;
}

.title-underline {
    width: 200px;
    height: 2px;
    margin: 0 auto;
}

.about-img {
    margin-top: 2%;
    width: 100%;
    height: 350px;
    box-shadow: 5px 5px 3px #aaaaaa;
}

    .about-img:hover {
        opacity: 0.5;
    }

.history-about {
    font-weight: bold;
    color: #00bef8;
}

.down-wave-about {
    width: 100%;
    height: 600px;
}

.about-team {
    position: relative;
    cursor: pointer;
    transition: all 1.1s;
    overflow: hidden;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
}

    .about-team:hover {
        transform: scale(0.9);
        overflow: hidden;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
    }
/* ////////////////////////////////////
 style code of page contact us
//////////////////////////////////////*/
.form-back {
    width: 100%;
    height: 450px;
    opacity: 0.8;
}

.custome-form-edit {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    margin-top: -30%;
    background-color: var(--socialMedia-color);
    padding-bottom: 50px;
}

.form-title {
    color: #00bef8;
    font-weight: bold;
    text-align: center;
}

.form-contact-page {
    left: 10%;
}

.address-form {
    left: 10%;
}

.btn-custom-contact-page {
    background-color: #00bef8;
    border: 2px solid #00bef8;
    color: white;
    font-weight: bold;
}

    .btn-custom-contact-page:hover {
        color: #00bef8;
        border: 2px solid #00bef8;
        background-color: white;
    }
/* ////////////////////////////////////////////
code style of page order
 /////////////////////////////////////////////*/
.custome-order-form {
    background-color: var(--socialMedia-color);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);
    padding-bottom: 30px;
}

.custome-order-title {
    color: #00bef8;
    font-weight: bold;
    width: 200px;
    border-bottom: 1px solid #00bef8;
}

.btn-send-order {
    width: 400px;
    background-color: #00bef8;
    border: 2px solid #00bef8;
    font-weight: bold;
    color: var(--socialMedia-color);
    padding: 5px;
    border-radius: 1px;
}

    .btn-send-order:hover {
        color: #00bef8;
        background-color: white;
    }
/* ////////////////////////////////////////////////////////
sign up page codes
//////////////////////////////////////////////////////////*/
.sign-up-page, .login-page {
    background-image: url("../images/sign-up.jpg");
    width: 100%;
    background-size: cover;
    height: 608px;
    background-repeat: no-repeat;
}

.custome-signUp {
    position: relative;
    top: 20%;
}

.sign-up-img {
    width: 100%;
    height: 620px;
}

.sign-up-illustrator {
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 1px 3px rgba(0,0,0,0.1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.custom-title-signup {
    font-weight: bold;
    font-size: 18px;
    color: rgb(10, 10, 10);
}

.hv-account {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 12px;
}

    .hv-account:hover {
        color: #00bef8;
    }

.custome-signUp-btn {
    color: white;
    font-weight: bold;
    border: 2px solid #00bef8;
    background-color: #00bef8;
    text-align: center;
}

    .custome-signUp-btn:hover {
        color: #00bef8;
        background-color: white;
    }
/* ///////////////////////////////////////
style codes of page ourteam
/////////////////////////////////////////*/
.ourteam-title {
    margin-top: -50%;
    font-weight: bold;
    color: white;
    font-size: 36px;
}

.team-page {
    background-color: var(--socialMedia-color) !important;
    position: relative;
    cursor: pointer;
    transition: all 1.1s;
    overflow: hidden;
    box-shadow: 5px 5px 4px #aaaaaa;
}

    .team-page:hover {
        transform: scale(0.9);
        overflow: hidden;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
    }
/* ///////////////////////////////////////////
style codes of page jobsite
////////////////////////////////////////////// */
.job-photo {
    width: 150px;
    height: 170px;
}
/* ///////////////////...........................................................................
dark mode css style
.................................................//////////////////////////////////////////////////*/
.ToggleIconsWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow:3px 3px 2px #aaa;
}

    .ToggleIconsWrapper i {
        cursor: pointer;
        font-size: 16px !important;
        color: var(--socialMedia-color);
        transition: all ease-in-out 0.3s;
    }

        .ToggleIconsWrapper i:hover {
            transition: all ease-in-out 0.3s;
            transform: rotate(360deg);
        }

.ToggleIconsWrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}

    .ToggleIconsWrapper:hover {
        transition: all ease-in-out 0.4s;
        box-shadow: inset 100px 5px 10px var(--fullBack-color);
    }

.isDay {
    display: none;
    opacity: none;
    transition: all ease-in-out 0.4s;
}

.isNight {
    display: none;
    opacity: none;
    transition: all ease-in-out 0.4s;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////
  product page search
  ////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.custome-search-btn {
    background-color: #00bef8;
    color: white;
    font-weight: 400;
    border: 2px solid #00bef8;
}

    .custome-search-btn:hover {
        background-color: white;
        color: #00bef8;
    }

.custome-bubles .bubles {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7) !important;
    border-radius: 50%;
    position: fixed;
    top: 10%;
    left: 10%;
    animation: 1s linear infinite;
}

.bubles .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    position: fixed;
    top: 20%;
    right: 20%;
}

.custome-bubles .bubles:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.custome-bubles .bubles:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.custome-bubles .bubles:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 5s linear infinite;
}

.custome-bubles .bubles:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
}

.custome-bubles .bubles:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.custome-bubles .bubles:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.custome-bubles .bubles:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.custome-bubles .bubles:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.custome-bubles .bubles:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.custome-bubles .bubles:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.custome-bubles .bubles:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.custome-bubles .bubles:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.custome-bubles .bubles:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.custome-bubles .bubles:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.custome-bubles .bubles:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}
