@model TeamViewModel
@{
    ViewData["Title"] = "Edit Our Team";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-users "> Edit Team Information</i>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-10  offset-1 card-box">
                        <form asp-action="EditTeam" asp-controller="Team" method="post" class="mt-3 m-2" enctype="multipart/form-data">

                            <div class="form-group my-3">
                                 <label><b>Name</b></label>
                                 <input asp-for="Name"   class="form-control" />
                                 <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                             <div class="form-group my-3">
                                 <label><b>LastName</b></label>
                                 <textarea asp-for="LastName"   class="form-control"></textarea>
                                 <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                           <div class="form-group my-3">
                               <label><b>Team_Position</b></label>
                               <input asp-for="PositionName" type="text"  class="form-control">
                               <span asp-validation-for="PositionName" class="text-danger"></span>
                           </div>

                            <div class="ml-3 mb-3 mr-3">
                                    <label asp-for="ShortDesc"><b>ShortDesription</b></label>
                                    <textarea type="text" asp-for="ShortDesc" class="form-control " placeholder="Enter a shortdescription..." autocomplete="off"  ></textarea>
                                    <span asp-validation-for="ShortDesc" class="text-danger"></span>
                            </div>


                           <div class="form-group my-3 d-flex align-content-center align-items-center flex-column">
                                   <input type="hidden" asp-for="ImageUrl" />
                                   <input name="file" type="file"  class="form-control mb-3">
                                  <span asp-validation-for="ImageUrl" class="text-danger "></span>
                                  <img src="~/@Model.ImageUrl" alt="@Model.Alt" title="@Model.Title" class="img-responsive img-thumbnail imgdetail "/>
                           </div> 

                            <div class="form-group my-3">
                                <label><b>Img_Title</b></label>
                                <input asp-for="Title" type="text"  class="form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group my-3">
                                <label><b>Img_Alt</b></label>
                                <input asp-for="Alt" type="text"  class="form-control">
                                <span asp-validation-for="Alt" class="text-danger"></span>
                            </div>

                           <div class="form-group text-right m-b-0 d-flex justify-content-center">
                               <button class="btn btn-success  " type="submit">
                                   Save Changes <i class="fa fa-plus"></i>
                               </button>
                                  &nbsp;
                              <a asp-action="Index" class="btn btn-back">
                                   Cancel
                              </a>
                           </div>
                      </form>
                 </div>
              </div>
           </div>
       </div>
   </div>
</div>
<script src="~/panel/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace("Descriptions");
</script>


