<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="~/Panel/assets/images/avatar-3.jpg" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">Zahra Habibi<i class="fa fa-caret-down"></i></span>
                </div>
            </div>
        </div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="active">
                <a asp-controller="Dashboard" asp-action="Index" class="waves-effect waves-dark  ">
                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                    <span class="pcoded-mtext " >Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
 

        </ul>
    
     </div>

</nav>