@model IEnumerable<Final_Wave.DataLayer.Entites.ProductGallery>

@foreach (var item in Model)
{
    <div class="col-1">
        <a asp-action="ProductDetails" asp-controller="MainSite" asp-route-Id="@item.Id">
                <img src="~/@item.ImageUrl" alt="@item.Alt" title="@item.Title" style=" height:90px;" class="img-fluid mb-2" />
        </a>

    </div>
}


