@model Final_Wave.Core.ViewModels.JobViewModel
@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}
<br><br><br>
<!-- start of job form -->
<div class="container custome-bubles">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <div class="container custome-order-form">
                <div class="row ">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 pl-5">
                        <h3 class="text-center mt-5 custome-order-title ">Job Finding</h3>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row mt-4">
                    <!-- start of form tag -->
                    <form class="col-md-12" asp-controller="MainSite" asp-action="AddJob" asp-antiforgery="true" enctype="multipart/form-data">  
                        <div class="row">

                            <div class="col">
                                <input type="text" asp-for="Name" class="form-control" placeholder="Your name" >
                                 <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col">
                                    <label><b>Job_Name</b></label>
                                    <input asp-for="JobName" type="text" placeholder="JobName" class="form-control" autocomplete="off">
                                    <span asp-validation-for="JobName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Your Last name" name="last-name" required><br>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                               
                                <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Your Email address" name="email" required><br>
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                
                                <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Your Phone number" name="Phone" required>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <textarea class="form-control" asp-for="Description" rows="6" name="message" placeholder="Discription"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                  <label asp-for="Coverphoto" class=""></label>
                                 <div class="custom-file">
                                     <input asp-for="Coverphoto" class="custom-file-input" id="customFile" />
                                <label class="custom-file-label" for="customFile">choose file</label>
                            </div>
                                 <span asp-validation-for="Coverphoto" class="text-danger"></span>
                        </div>

                            <div class="col">
                                <label asp-for="ResumePhoto" class=""></label>
                                <div class="custom-file">
                                    <input asp-for="ResumePhoto" class="custom-file-input" id="customFile" />
                                    <label class="custom-file-label" for="customFile">choose file</label>
                                </div>
                                <span asp-validation-for="ResumePhoto" class="text-danger"></span>
                            </div>

                        </div>
                        <input type="submit" value="Send" class="mx-auto d-block btn-send-order mt-3">
                    </form>
                    <!-- end of form tag -->
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
</div>


<!-- end of job form -->

<br>
<br>
<br>