@model Final_Wave.Core.ViewModels.JobViewModel
@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}
<br><br><br><br><br><br><br>
<!-- start of job form -->
<div class="container custome-bubles">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <div class="container custome-order-form">
                <div class="row ">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 pl-5">
                        <h3 class="text-center mt-5 custome-order-title ">Job Finding</h3>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row mt-4">
                    <!-- start of form tag -->
                    <form class="col-md-12" asp-controller="MainSite" asp-action="AddJob" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <label hidden><b>User_Name</b></label>
                                <input asp-for="Name" type="text" placeholder="user Name " class="form-control" autocomplete="off">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                 <label hidden><b>Job_Name</b></label>
                                 <input asp-for="JobName" type="text" placeholder="JobName" class="form-control" autocomplete="off">
                                 <span asp-validation-for="JobName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label hidden><b>LastName</b></label>
                                <input asp-for="LastName" type="text" placeholder="LastName" class="form-control" autocomplete="off">
                                <span asp-validation-for="LastName" class="text-danger"></span><br />

                                <label hidden><b>Email</b></label>
                                <input asp-for="EmailAddress" type="text" placeholder="Email" class="form-control" autocomplete="off">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span><br />

                                <label hidden><b>PhoneNumber</b></label>
                                <input asp-for="PhoneNumber" type="text" placeholder="Phone" class="form-control" autocomplete="off">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span><br />
                            </div>
                            <div class="col">
                                <label hidden> <b>Short_Descriptioin</b> </label>
                                <textarea asp-for="Description" placeholder="Short Description " class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label hidden asp-for="Image">Image</label>
                                <input type="file" name="file" parsley-trigger="change" class="form-control" placeholder="Image">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                            <div class="col">
                                <label hidden asp-for="Resume" >Resume</label>
                                <input  type="file" name="file1"  parsley-trigger="change" class="form-control"  placeholder="Resume" >
                                <span  asp-validation-for="Resume" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="submit" value="Send" class="mx-auto d-block btn-send-order mt-3">
                    </form>
                    <!-- end of form tag -->
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
</div>


<!-- end of job form -->

<br>
<br>
<br>