@model Final_Wave.Core.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}
<div class="contact-form custome-bubles">
    <img src="~/assets//images/form-back.png" class="img-responsive form-back">
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-10 col-md-8 mb-4 custome-form-edit ">
                <h3 class="form-title mt-3">Get In Touch</h3>
                <div class="row">
                    <div class="col-md-5 form-contact-page">
                        <!-- Start of Get In touch -->
                        <form method="post" asp-action="Contact" asp-controller="MainSite">
                           
                            <div class="form-home">
                                <input type="text" class="form-control" placeholder="Full name"  asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="mt-3 form-home">
                                <input type="email" class="form-control" placeholder="Email address"  asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="mt-3 form-home">
                                <textarea class="form-control" rows="5"  placeholder="Type Your Message:"   asp-for="Message"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <input type="submit" value="Submit" class="btn btn-custom-contact-page mt-3 form-control">
                        </form>
                        <!-- End of get in touch -->

                    </div>
                    <div class="col col-md-5 address-form ">
                        <small>Worldwide website since 2022. We sell over 1000+ branded products on our website</small>
                        <ul>
                            <li><a href="#" class="footer-menu"><i class="fa-solid fa-location-pin mt-3"></i>Kabul, Afghanistan </a></li>
                            <li><a href="#" class="footer-menu"><i class="fa-solid fa-phone"></i> +93770665909</a></li>
                            <li><a href="habibi.zahra.ku@gmail.com" class="footer-menu"><i class="fa-solid fa-envelope"></i> wave.af@gmial.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
    </div>
</div>
<!-- End of contact form -->
