@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}
<!-- Start of carousel -->
<div class="container top-car custome-bubles">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @(await Component.InvokeAsync("SliderComponent"))
        </div>
    </div>
</div>
<!-- Enf of carousel -->
<!-- Start of Products -->
<div class="container" id="product">
    <div class="row mt-5">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-4">
            <h4 class="text-center custome-product">Our Popular Products</h4>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>

    <div class="row mt-3">
        @(await Component.InvokeAsync("ProductComponent"))
    </div>
    <br>
    <div class="row mt-3">
        <div class="col-sm-2 col-md-5"></div>
        <div class="col-sm-8 col-md-3 custome-see-product-div">
            <a asp-action="Product" asp-controller="MainSite" class="text-center see-product">See More</a>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>
</div>
<!-- End of Products -->
<!-- Start Recent Products -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-10 col-md-4">
            <h4 class="recent-product"><span class="underline-explore">Explore</span> Recent Products</h4>
        </div>
        <div class="col-sm-1 col-md-4"></div>
        <div class="col-sm-1 col-md-4"></div>
    </div>
</div>
<div class="container-fluid custome-recent-product">
    <div class="container ">
        <div class="row">

            <div class="col-sm-6 col-md-5">
                <div class="Pro-description">
                    <h2>The best-selling products of our works</h2>
                    <p>Our team already made a lot of beautiful prototype Design that inspire you</p>
                    <a href="#">Explore More</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-7 mt-3 text-center mb-3">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img-responsive img-rec-pro" src="~/assets/images/rp1.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive img-rec-pro" src="~/assets/images/rp2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive img-rec-pro" src="~/assets/images/rp3.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive img-rec-pro" src="~/assets/images/rp4.jpg" />
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- End of Recent Products -->
<!-- Start of Services -->
<div class="container" id="service">
    <div class="row mt-5">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-4">
            <h4 class="text-center custome-product">Services you can trust</h4>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>

    <div class="row mt-5">
        @(await Component.InvokeAsync("ServiceComponent"))
    </div>

    <div class="row mt-4">
        <div class="col-sm-2 col-md-5"></div>
        <div class="col-sm-8 col-md-3 custome-see-product-div">
            <a asp-controller="MainSite" asp-action="ShowService" class="text-center see-product">See More</a>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>
</div>
<!-- End of services -->
<!-- Start of team -->
<div class="container-fluid custome-team" id="team">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
                <h4 class="text-center custome-product team-title">Active Team</h4>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </div>
    <div class="container-fluid">
        <img src="~/assets/images/banner2.jpg" class="img-responsive img-banner">

        <div class="container team-m-top">
            <div id="demo3" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo3" data-slide-to="0" class="active"></li>
                    <li data-target="#demo3" data-slide-to="1"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="media p-3 mt-3 bg-white mr-2 team-main-div about-team">
                                            <img src="~/assets/images/team1.jpg" class="team-img img-responsive">
                                            <div class="mt-5">
                                                <h3 class="ml-3 team-name-color">Friba Hussa</h3>
                                                <p class="ml-3">
                                                    Software Engineer  (Full stack
                                                    Developer) . she is so active and
                                                    amazing.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="media p-3 mt-3 bg-white ml-2 team-main-div about-team">
                                            <img src="~/assets/images/team2.jpg" class="team-img img-responsive">
                                            <div class="mt-5">
                                                <h3 class="ml-3 team-name-color">Zahra Habibi</h3>
                                                <p class="ml-3">
                                                    Software Engineer  (Full stack
                                                    Developer) . she is so active and
                                                    amazing.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="media p-3 mt-3 bg-white mr-2 team-main-div about-team">
                                            <img src="~/assets/images/team3.jpg" class="team-img img-responsive">
                                            <div class="mt-5">
                                                <h3 class="ml-3 team-name-color">Sawdia Rustam</h3>
                                                <p class="ml-3">
                                                    Software Engineer  (Full stack
                                                    Developer) . she is so active and
                                                    amazing.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="media p-3 mt-3 bg-white ml-2 team-main-div about-team">
                                            <img src="~/assets/images/team4.jpg" class="team-img img-responsive">
                                            <div class="mt-5">
                                                <h3 class="ml-3 team-name-color">Laila Habibi</h3>
                                                <p class="ml-3">
                                                    Software Engineer  (Full stack
                                                    Developer) . she is so active and
                                                    amazing.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo3" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-sm-2 col-md-5"></div>
        <div class="col-sm-8 col-md-3 custome-see-product-div">
            <a asp-action="Team" asp-controller="MainSite" class="text-center see-team">See all Team</a>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>

</div>
<!-- End of team -->