@model  Final_Wave.Core.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Wave software service";
    ViewData["Description"] = "This site is a new site , It provide diffirent software (desktop application , mobile application web application, video and image editing,banner , prototype.).";
    Layout = "_SiteLayout";
}
<br><br><br><br /><br />
<!-- start of order form -->
<div class="container custome-bubles">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <div class="container custome-order-form">
                <div class="row ">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 pl-5">
                        <h3 class="text-center mt-5 custome-order-title ">Ordering</h3>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row mt-4">
                    <!-- start of form tag -->
                    <form class="col-md-12"asp-controller="MainSite" asp-action="Order" method="post" class="mt-5" enctype="multipart/form-data" autocomplete="off">
                      <input value="@ViewBag.userid"  hidden asp-for="UserId"/>
                        <div class="row">

                            <div class="col">   
                                 <input type="text" asp-for="Name" class="form-control " placeholder="Enter your name ..." autocomplete="off"  />
                                <span asp-validation-for="Name" class="text-danger"></span>

                            </div>
                            <div class="ml-3 mb-3 mr-3 col ">
                                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.CategoryId">
                                    <option selected>Select a product</option>
                                </select>
                                <span asp-validation-for="ProductId" class="text-danger"></span>
                            </div>
                         

                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Your Last name" autocomplete="off"  /><br />
                                <span asp-validation-for="LastName" class="text-danger"></span>

                                <input type="email" asp-for="EmailAddress" class="form-control " placeholder="EmailAddress ..."  autocomplete="off" /><br />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>

                                <input type="text" asp-for="PhoneNumber" class="form-control " placeholder="PhoneNumber ..."  autocomplete="off" /><br />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>
                            

                            <div class="col">
                                <textarea class="form-control" rows="6" asp-for="Description" placeholder="Discription" ></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="submit" value="Send" class="mx-auto d-block btn-send-order mt-3">
                    </form>
                    <!-- end of form tag -->
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
</div>
<!-- end of order form -->

<br><br>
