@model PrograssBar


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-info alertstyle mb-3">
                        <i class="fas fa-book"> Order Prograss daily or weekly</i>
                    </div>
                </div>
            </div>
            <div class="col-8 mt-5  offset-2">
                <div class="container mt-5">
                    <div class="divstyle-detail">
                        <div class="row p-5">
                            <p>
                                <strong>The Requierment prograss : </strong> <div class="col-md-12 col-lg-12">
                                    <div class="progress " style="height: 30px;">
                                        <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated " style="width:@Model.Requirement;"></div>
                                    </div>
                                </div>
                            </p>
                            <p>
                                <strong>
                                    The Designing prograss :  <div class="col-md-12 col-lg-12">
                                        <div class="progress " style="height: 30px;">
                                            <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated " aria-valuenow="@Model.Codind"  style="width: 10%;">10%</div>
                                        </div>
                                    </div>
                            </p>
                            <p>
                                <strong>
                                    The Coding/backend prograss :  <div class="col-md-12 col-lg-12">
                                        <div class="progress " style="height: 30px;">
                                            <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated " style="width: 10%;">10%</div>
                                        </div>
                                    </div>
                            </p>
                            <p>
                                <strong>
                                    The testing prograss :  <div class="col-md-12 col-lg-12">
                                        <div class="progress " style="height: 30px;">
                                            <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated " style="width: 10%;">10%</div>
                                        </div>
                                    </div>
                            </p>
                            <p>
                                <strong>
                                    The maintenance :  <div class="col-md-12 col-lg-12">
                                        <div class="progress " style="height: 30px;">
                                            <div class="progress-bar bg-danger  progress-bar-striped progress-bar-animated " style="width: 10%;">10%</div>
                                        </div>
                                    </div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

