<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            @(await Component.InvokeAsync("UserInfoComponent"))
        </div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="active">
                <a asp-controller="Dashboard" asp-action="Index" class="waves-effect waves-dark  ">
                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                    <span class="pcoded-mtext " >Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
            <br />

         <ul class="pcoded-item pcoded-left-item">
           
            <li class="pcoded-hasmenu">
                <a  class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="icon-users"></i></span>
                    <span class="pcoded-mtext">UserManagement</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li >
                        <a asp-controller="UserManager" asp-action="Index" class="waves-effect waves-dark">
                           <span><i class="icon-user"></i></span>
                           <span class="pcoded-mtext">Users</span>
                        </a>
                    <li>

                   <li >
                       <a asp-controller="Skill" asp-action="Index" class="waves-effect waves-dark">
                          <span><i class="icon-office"></i></span>
                          <span class="pcoded-mtext">Skills</span>
                       </a>
                   <li>

                    <li>
                      <a asp-controller="Team" asp-action="Index" class="waves-effect waves-dark">
                          <span class="pcoded-micon"><i class="fa fa-user"></i></span>
                          <span class="pcoded-mtext" > Team</span>
                          <span class="pcoded-mcaret"></span>
                      </a>
                    </li>
                </ul>
            </li>
        </ul>


         <ul class="pcoded-item pcoded-left-item">
           
            <li class="pcoded-hasmenu">
                <a  class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="icon-book"></i></span>
                    <span class="pcoded-mtext">ProductPart</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">

                    <li class=" ">
                        <a asp-controller="Product" asp-action="ShowProduct" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="icon-book "></i></span>
                            <span class="pcoded-mtext" >Product</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                   <li>
                         <a asp-controller="ProductGallery" asp-action="Index" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class=" fa fa-picture-o"></i></span>
                            <span class="pcoded-mtext">ProductGallery</span>
                             <span class="pcoded-mcaret"></span>
                         </a>
                   </li>
                    
                    <li class=" ">
                        <a asp-controller="Category" asp-action="Index" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="icon-pen"></i></span>
                            <span class="pcoded-mtext">Category</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="Slider" asp-action="Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-picture-o"></i></span>
                    <span class="pcoded-mtext" >Slider</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

         <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="About" asp-action="Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-user"></i></span>
                    <span class="pcoded-mtext" > About</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

         <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="Service" asp-action="Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-wrench"></i></span>
                    <span class="pcoded-mtext" > Service</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="UserManager" asp-action="AdvancedChat" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-comment"></i></span>
                    <span class="pcoded-mtext"> Chat</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">

            <li class="pcoded-hasmenu">
                <a class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="icon-users"></i></span>
                    <span class="pcoded-mtext">Order</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="Order" asp-action="Index" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="icon-office"></i></span>
                            <span class="pcoded-mtext">Order </span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Notation" asp-action="Index" class="waves-effect waves-dark">
                            <span><i class="fa fa-picture-o"></i></span>
                            <span class="pcoded-mtext">Notation order</span>
                        </a>
                    <li>
                    <li>
                        <a asp-controller="PrograssBar" asp-action="Index" class="waves-effect waves-dark">
                            <span><i class="icon-office"></i></span>
                            <span class="pcoded-mtext">Prograss order</span>
                        </a>
                    <li>
                </ul>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="Conduct" asp-action="Index" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="fa fa-phone"></i></span>
                    <span class="pcoded-mtext"> Contact us</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

          <ul class="pcoded-item pcoded-left-item">
                <li>
                    <a asp-controller="Job" asp-action="Index" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="icon-office"></i></span>
                        <span class="pcoded-mtext">Jobs </span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
          </ul>
     
     </div>

</nav>