@model ApplicationUser
@{
    string Role = "";
}
<div class="main-menu-header">
    <a asp-action="changefoto" asp-route-userId="@Model.Id" asp-controller="userphoto"><img class="img-80 img-radius" src="~/@Model.usrimag" alt="User-Profile-Image"></a>
    <div class="user-details">
        <p hidden>@Model.Id</p>
        <span id="more-details">@Model.FullName </span>
        <span style="color:green; font-weight:bold;">
            @if (Model.IsAdmin == 2)
            {
                Role = "User";
            }
            else
            {
                Role = "Admin";
            }
            @Role
        </span>
    </div>
</div>