@model Final_Wave.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Account.cshtml";
}

    <!-- Start of signup form -->
    <div class="sign-up-page">
        <div class="container custome-signUp">
            <div class="row">
                <div class=" col-md-1"></div>
                <div class="col col-sm-5 col-md-5">
                    <div class="image-illustrator">
                        <img src="~/assets/images/signUp.png" class="img-responsive mx-auto d-block sign-up-illustrator">
                    </div>
                </div>
                <div class="col col-sm-5 col-md-4">
                    <h3 class="mt-3 custom-title-signup">Sign up to wave site</h3>
                    <a asp-action="Login" asp-controller="Account" class="hv-account">Already have an account</a>
                    <form  class="mt-3" asp-action="Register" asp-controller="Account" method="post"  enctype="multipart/form-data">
                        
                        <div class="form-group">
                          <label asp-for="Email">Email address:</label>
                          <input type="email" class="form-control" asp-for="Email" placeholder="EmailAdress"  autocomplete="off">
                          <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserName">Username:</label>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="UsrName"  autocomplete="off">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                          <label asp-for="PasswordHash">Password:</label>
                          <input type="password" asp-for="PasswordHash" class="form-control" placeholder="Password"  autocomplete="off">
                          <span asp-validation-for="PasswordHash"></span>
                        </div>

                        <button type="submit" class="btn form-control custome-signUp-btn">Sign Up</button>
                      </form>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- end of signup form -->

