@model Final_Wave.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Account.cshtml";
}

    <!-- Start of signup form -->
    <div class="sign-up-page">
        <div class="container custome-signUp">
            <div class="row">
                <div class=" col-md-1"></div>
                <div class="col col-sm-5 col-md-5">
                    <div class="image-illustrator">
                        <img src="~/assets/images/signUp.png" class="img-responsive mx-auto d-block sign-up-illustrator">
                    </div>
                </div>
                <div class="col col-sm-5 col-md-4">
                    <h3 class="mt-2 custom-title-signup text-info">SIGN UP </h3>
                    <a asp-action="Login" asp-controller="Account" class="hv-account">Already have an account!</a>
                    <form  class="mt-2" asp-action="Register" asp-controller="Account" method="post"  enctype="multipart/form-data">
                        
                        <div class="form-group">
                          <label asp-for="Email"><strong>Email</strong></label>
                          <input type="email" class="form-control" asp-for="Email" placeholder="EmailAdress"  autocomplete="off">
                          <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FullName"><strong>Full Name</strong></label>
                            <input type="text" asp-for="FullName" class="form-control" placeholder="Full Name"  autocomplete="off">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                          <label asp-for="PasswordHash"><strong>Password</strong></label>
                          <input type="password" asp-for="PasswordHash" class="form-control" placeholder="Password"  autocomplete="off">
                          <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>

                    <div class=" mb-3 my-3 form-group">
                        <label asp-for="usrimag"><strong>UserProfile</strong></label>
                        <input type="file" name="file" parsley-trigger="change" class="form-control" placeholder="Image">
                        <span asp-validation-for="usrimag" class="text-danger"></span>
                    </div>

                        <button type="submit" class="btn form-control custome-signUp-btn">Sign Up</button>
                      </form>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- end of signup form -->

