@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .welcome {
        font-weight: bold;
        color: #37474f;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <h4 class="welcome"> Welcome to Software service Site</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        TotlaViews:
                        <span id="TotalViewsCounter">

                        </span>
                    </div>
                    <div class="col-4">
                        Totla connection/users:
                        <span id="TotalUsersCounter">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/dist/browser/signalr.min.js" ></script>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/usercount.js"></script>
