@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .welcome {
        font-weight: bold;
        color: #37474f;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-4">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <h4 class="welcome"> Welcome to Software service Site</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 mt-4">
                        <h4 class="text-primary text-center">Totla Views of Site:</h4>
                        <h3 class="text-center">
                            <span id="TotalViewsCounter">

                            </span>
                        </h3>
                      
                    </div>
                    <div class="col-6 mt-4">
                        <h4 class="text-primary text-center">
                            Totla connection/users:
                        </h4>
                            <h3 class="text-center">
                                <span id="TotalUsersCounter">

                                </span>
                            </h3>                     
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 mt-2 ">
                        <div class="card ">
                            <img src="~/Img/dfaa/IMG-20220922-WA0069.jpg" alt="" title="" class="   product-img img-responsive" asp-append-version="true" style="height:420px;">
                            <div class="card-body ">
                                <h5 class="custome-service-title ">Fatima Mohammadi </h5>
                                <p class="card-text" > Andriod  Developer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 mt-2 ">
                        <div class="card ">
                            <img src="~/Img/dfaa/Zahra Mohammad Ismail(Habibi).JPG" alt="" title="" class="   product-img img-responsive" asp-append-version="true" >
                            <div class="card-body ">
                                <h5 class="custome-service-title ">Zahra Habibi </h5>
                                <p class="card-text">Fullstack developer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 mt-2 ">
                        <div class="card ">
                            <img src="~/Img/dfaa/IMG_0950.JPG" alt="" title="" class="   product-img img-responsive" asp-append-version="true" style="height:420px;">
                            <div class="card-body ">
                                <h5 class="custome-service-title ">Friba Hussainyar </h5>
                                <p class="card-text" ">Web designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/dist/browser/signalr.min.js" ></script>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/usercount.js"></script>
