
@{
    ViewData["Title"] = "The page you want it does not found!";
}
<html>
    <head></head>
    <body class="ERR404">
    <div class="container ERR404">
        <div class="row">
            <div class="col-12">
                <div class="col-6 mt-5  offset-3">
                    <div class=" pt-5">
                        <h2 class="text-center text-danger">404 Error </h2>
                        <h4 class="text-center text-info">

                            Oops, The page you are searching Not found
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

