@model ChangePasswordByAdminViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-2">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-user fa-success "> Change Password  for @ViewBag.UserName</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-10  offset-1 card-box">
                            <form asp-controller="UserManager" asp-action="ChangePassword" method="post" class="mt-5" enctype="multipart/form-data">   
                                 <input type="hidden" asp-for="Id" value="@ViewBag.Id" />
 
                                 <div class="ml-3 mb-3 mr-3 ">
                                    <label><b>New_Password</b></label>
                                    <input type="password" asp-for="NewPassword" class="form-control " placeholder="New password..." autocomplete="off" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                               </div>

                               <div class="ml-3 mb-3 mr-3">
                                    <label><b>Confirm_NewPassword</b></label>
                                    <input type="password" asp-for="ConfirmNewPassword" class="form-control " placeholder=" Confirm password..." autocomplete="off">
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                               </div>

                               <div class="form-group text-right m-b-0 d-flex justify-content-center">
                                  <div class="mr-3 mb-3">
                                      <button class="btn btn-success btn-colorsave " type="submit">
                                         Edit  <i class="fa fa-plus"></i>
                                      </button>
                                  </div>&nbsp;
                                  <div class="ml-3 mb-3">
                                        <a asp-action="Index" class="btn btn-back btn-primary">
                                         Cancel
                                        </a>
                                   </div>
                                </div>
                            </form>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>




