@model SliderViewModel
@{
    ViewData["Title"] = "AddSlider";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-2">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-picture-o fa-success ">  Add Slider</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-10  offset-1 card-box">
                            <form asp-controller="Slider" asp-action="AddSlider" method="post" class="mt-5" enctype="multipart/form-data">   
                                <div class="ml-3 mb-3 mr-3 ">
                                    <label>Name</label>
                                    <input type="text" asp-for="silderName" class="form-control " placeholder="slider name..." autocomplete="off" class="form-control" />
                                    <span asp-validation-for="silderName" class="text-danger"></span>
                               </div>

                               <div class="ml-3 mb-3 mr-3">
                                    <label>caption</label>
                                    <input type="text" asp-for="Caption" class="form-control " placeholder="slider Caption..." autocomplete="off">
                                    <span asp-validation-for="Caption" class="text-danger"></span>
                               </div>
                                
                                <div class="ml-3 mb-3 mr-3">
                                    <label>SliderOrder</label>
                                    <input type="number" min="1" asp-for="sliderOrder" class="form-control "  autocomplete="off">
                                    <span asp-validation-for="sliderOrder" class="text-danger"></span>
                               </div>

                               <div class=" mb-3 my-3 form-group">
                                    <label>Picture</label>
                                    <input name="file" type="file" class="form-control">
                                    <span asp-validation-for="sliderImage" class="text-danger" ></span>    
                               </div>

                                <div class="ml-3 mb-3 mr-3">
                                    <label>ImageAlt</label>
                                    <input type="text" asp-for="Alt" class="form-control " placeholder="image alt..." autocomplete="off">
                                    <span asp-validation-for="Alt" class="text-danger"></span>
                               </div> 

                                 <div class="ml-3 mb-3 mr-3">
                                    <label>ImageTitle</label>
                                    <input type="text" asp-for="Title" class="form-control " placeholder="iamge title..." autocomplete="off">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                               </div>   

                               <div class="ml-3 mb-3 mr-3">
                                    <div class="checkbox">
                                        <input asp-for="IsActive" class="check-box" id="remember-1" type="checkbox" class="mr-4">
                                        <label asp-for="IsActive" for="remember-1"> Keep Active </label>
                                     </div>
                                </div>

                               <div class="form-group text-right m-b-0 d-flex justify-content-center">
                                  <div class="mr-3 mb-3">
                                      <button class="btn btn-success btn-colorsave " type="submit">
                                         Save  <i class="fa fa-plus"></i>
                                      </button>
                                  </div>&nbsp;
                                  <div class="ml-3 mb-3">
                                        <a asp-action="Index" class="btn btn-back btn-primary">
                                         Cancel
                                        </a>
                                   </div>
                                </div>
                            </form>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>



