@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-2">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-key fa-success "> Change password</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-10  offset-1 card-box">
                        <form asp-controller="ChangePassword" asp-action="ChangePassword" method="post" class="mt-5" enctype="multipart/form-data">

                            <!---oldpassword-->
                            <div class="ml-3 mb-3 mr-3 ">
                                <label><b>Old_Password</b></label>
                                <input type="password" asp-for="CurrentPassword" class="form-control " placeholder="Old password..." autocomplete="off" class="form-control" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>

                            <!---new password-->
                            <div class="ml-3 mb-3 mr-3 ">
                                <label><b>New_Password</b></label>
                                <input type="password" asp-for="NewPassword" class="form-control " placeholder="New password..." autocomplete="off" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <!--confirmnew password-->
                            <div class="ml-3 mb-3 mr-3">
                                <label><b>Confirm_NewPassword</b></label>
                                <input type="password" asp-for="ConfirmNewPassword" class="form-control " placeholder=" Confirm password..." autocomplete="off">
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>

                            @if (ViewBag.msg != null)
                            {
                                <div class="alert @ViewBag.alt col-xs-12 col-md-12" style="text-align:center;">
                                    @ViewBag.msg
                                </div>
                            }

                            <div class="form-group text-right m-b-0 d-flex justify-content-center">
                                <div class="mr-3 mb-3">
                                    <button class="btn btn-success btn-colorsave " type="submit"> Change <i class="fa fa-plus"></i>
                                    </button>
                                </div>&nbsp;
                                <div class="ml-3 mb-3">
                                    <a asp-action="Index" asp-controller="Dashbord" class="btn btn-back btn-primary"> Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




