@model IEnumerable<Final_Wave.DataLayer.Entites.Product>

    @foreach(var item in Model){

        <div class="col-sm-6 col-md-3 mt-2 ">
            <div class="card silimar-product-item">
            <img src="~/@item.ProductImage" class="silimar-product-img img-responsive" title="@item.Title" alt="@item.Alt">
             <div class="card-body text-center">
                <h5 class="custome-service-title ">@item.ProductName</h5>
                <a asp-action="ProductDetails" asp-controller="MainSite" asp-route-Id="@item.Id" class="card-link service-detail-btn form-control text-center">product Detail</a>
             </div>
            </div>
        </div>

    }


