@model Final_Wave.DataLayer.Entites.Notation
@{
    ViewData["Title"] = "Index";
    var counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-2">
                <div class="row">
                    <div class="alert alert-light alertstyle mb-3">
                        <i class="fa fa-user ">Order accepting</i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-1 mt-3 col-8 offset-2 card-box">
                        <form  class="mt-5" enctype="multipart/form-data" autocomplete="off" asp-action="Index" asp-controller="Notation">
                            <input asp-for="UserID_Creator" value="@ViewBag.UserID_Creator" />
                            <div class="row" >
                                <label class="col-md-4 col-xs-12">Message date :</label>
                                <div class="col-md-8 col-xs-12">
                                    <div style="color:darkgreen;">@DateTime.Now.ToString("yyyy/MM/dd")</div>
                                </div>
                            </div><br />

                            <div class="row" >
                                <label class="col-md-3 col-xs-12">NotationTitle :</label>
                                <div class="col-md-9 col-xs-12">
                                    <input type="text" asp-for="NotationTitle" class="form-control " placeholder="About title ..." autocomplete="off" class="form-control" />
                                </div>
                            </div><br />

                            <div class="row" >
                                <label class="col-md-3 col-xs-12">Notation Content :</label>
                                <div class="col-md-9 col-xs-12">
                                    <textarea type="text" asp-for="NotationContent" rows="8" class="form-control " placeholder="about Description..." autocomplete="off"></textarea>
                                </div>
                            </div><br />
                            <div class="row">
                                <label class="col-md-3 col-xs-12">Slect user :</label>
                                <div class="col-md-9 col-xs-12">
                                <select asp-for="UserID_Reciever" class="form-select" asp-items="@ViewBag.userId_Reciever">
                                    <option selected>Select a product</option>
                                </select>
                                </div>
                            </div>


                            <div class="form-group text-right m-b-0 d-flex justify-content-center">
                                <div class="mr-3 mb-3">
                                    <button class="btn btn-success btn-colorsave " type="submit">
                                        Save  <i class="fa fa-plus"></i>
                                    </button>
                                </div>&nbsp;
                                <div class="ml-3 mb-3">
                                    <a asp-action="Index" class="btn btn-back btn-primary">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

      
        </div>
    </div>
</div>

